$day-size: 100px;          // szerokość i wysokość pojedynczego dnia
$day-border: 1px;          // obramowanie
$calendar-gap: 1px;        // odstęp między dniami
$calendar-padding: 10px;   // padding całego kalendarza
$columns: 7;   

body {      
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;  
    }

.calendar {
  display: grid; // grid, nie flex
  grid-template-columns: repeat(7, $day-size); // 7 kolumn po $day-size
  gap: $calendar-gap;
  padding: $calendar-padding;
  background-color: #fff;

  // szerokość nie jest konieczna, ale jeśli chcesz ograniczyć do dokładnej wartości:
  width: calc(7 * #{$day-size} + 6 * #{$calendar-gap} + 2 * #{$calendar-padding});
}

.calendar__day {
    
  box-sizing: border-box; // uwzględnia border w szerokości i wysokości

    width: $day-size;
    height: $day-size;
    border: $day-border solid #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    position: relative;   
    transition: background-color 0.5s, transform 0.5s; 
    flex: 0 0 $day-size;    
     }
     
  .calendar__day:hover {
  cursor: pointer;
  background-color: #FFBFCB;
  transform: translateY(-20px);
}

.calendar__day::before {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
    color: #000;
    }
    @for $i from 1 through 31 {
        .calendar__day:nth-child(#{$i})::before {
            content:"#{$i}";
        }
    }
    @for $days from 28 through 31 {
  .calendar--month-length-#{$days} {
    .calendar__day:nth-child(n + #{$days + 1}) {
      display: none;
    }
  }
}
$start-days: (
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 7
);

@each $day, $column in $start-days {
  .calendar--start-day-#{$day} .calendar__day:first-child {
    grid-column-start: $column;
  }
}

